<!DOCTYPE html>
<html>
  <head>
    <title>AKITA M2M</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <style> 
      .akita-pink{color:#ca4dd5;} 
      body{background-color: #080808 !important;}
      .list-group-item{background-color:#252525 !important} 

      .lds-ripple {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
      }
      .lds-ripple div {
        position: absolute;
        border: 4px solid #fff;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
      }
      .lds-ripple div:nth-child(2) {
        animation-delay: -0.5s;
      }
      @keyframes lds-ripple {
        0% {
          top: 28px;
          left: 28px;
          width: 0;
          height: 0;
          opacity: 1;
        }
        100% {
          top: -1px;
          left: -1px;
          width: 58px;
          height: 58px;
          opacity: 0;
        }
      }

    </style>
  </head>
  <body>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <img src="/akita.jpg" alt="" class="img-fluid d-inline" style="height:120px">
          <img src="/akita_qr.png" alt="" class="img-fluid d-inline" style="height:120px">
        </div>
        <div class="col-md-4">
          {{#if device.car }} <h2 class="akita-pink d-inline">Smart Machine Agent #1</h2> {{/if}}
          {{#if device.station }} <h2 class="akita-pink d-inline">Smart Machine Agent #2</h2> {{/if}}
        </div>
        <div class="col-md-4">
          <img src="/summit.png" alt="" class="img-fluid d-inline" style="height:80px">
          <img src="/iota_icon_light.svg" alt="" class="img-fluid d-inline" style="height:110px">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="margin-top:10px">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-live" role="tabpanel" aria-labelledby="pills-live-tab">
              <div class="row">
                <div class="col-md-12" style="font-size:1.3em">
                 <span class="rssi2">N/A</span> 
                 {{!-- | DEBUG: <span class="realtime">idle</span> --}}
                  <br>
                </div>
                <div class="col-md-4">
                  <ul class="list-group text-center" style="font-size:2.5em">

                    <li class="list-group-item">
                      {{#if device.car }} <img src="/device_car_slim.png" alt="" class=" img-fluid d-inline" style="height:40px"> {{/if}}
                      {{#if device.station }} <img src="/device_parking.png" alt="" class=" img-fluid d-inline" style="height:40px"> {{/if}}

                      <b>Balance</b> 
                    </li>
                    <li class="list-group-item"><b class="balance_aed">1000</b> AED</li>
                    <li class="list-group-item akita-pink"><b class="balance_iota">972</b> mIOTA</li>
                    <li class="list-group-item"><b class="balance_usd">272,25</b> USD</li>
                </div>
                <div class="col-md-8">
                  <ul class="list-group text-center" style="font-size:2.5em">
                    {{#if device.car }}
                      <li class="list-group-item"><span class="status_car" style="color:orange">Status: DRIVING</span></li>
                      <li class="list-group-item"><b>@Dubai Future Blockchain Summit</b></li>
                      <li class="list-group-item"><b>Parking Duration:</b></li>
                      <li class="list-group-item akita-pink"><b><span class="parking_duration">00:00:00</span></b></li>
                    {{/if}}
                    {{#if device.station }}
                      <li class="list-group-item"><b>Parking spot</b></li>
                      <li class="list-group-item"><b><span class="status_parking"><i>Not occupied</i></span></b></li>
                      <li class="list-group-item"><b>Parking Duration:</b></li>
                      <li class="list-group-item akita-pink"><b><span class="parking_duration">00:00:00</span></b></li>
                    {{/if}}
                </div>
              </div>


            </div>
            <div class="tab-pane fade" id="pills-history" role="tabpanel" aria-labelledby="pills-history-tab">
              <h4>IOTA Transaction History</h4>
              <ul class="list-group history" style="font-size:1.4em">
                
                {{!-- <li class="list-group-item d-flex justify-content-between align-items-center"><span>Parking duration 12 min</span> <small class="mute"><a href="https://thetangle.org/transaction/">ABC...</a></small><span class="badge badge-primary badge-pill float-right">Sent 53 IOTA</span></li> --}}
                
                {{!-- <li class="list-group-item d-flex justify-content-between align-items-center">
                  Parking duration 60 min
                  <small class="mute">
                    <a href="https://thetangle.org/transaction/IKIEIHJMPNIYWRAMNTGCZRTSUCINCS9GYWEDTIJDHHLJUCVGLQOJRX9QAOMUJVAJJZNFFCEJXNRFZ9999">IKIEIHJMPNIYWRAMNTGCZRTSUCINCS9GYWEDTIJDHHLJ...</a>
                  </small>
                  <span class="badge badge-primary badge-pill float-right">Sent 72 IOTA</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Parking duration 12 min
                  <small class="mute">
                    <a href="https://thetangle.org/transaction/EDQEKTYWFMNYIDRPCNUGRZWCBNMWVMVIKINTLZWBJZVQOGMB9XVNUZVXEVVNLDROMSVQBGPHEKEOA9999">EDQEKTYWFMNYIDRPCNUGRZWCBNMWVMVIKINTLZWBJZ...</a>
                  </small>
                  <span class="badge badge-primary badge-pill float-right">Sent 234 IOTA</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Parking duration 60 min
                  <small class="mute">
                    <a href="https://thetangle.org/transaction/IKIEIHJMPNIYWRAMNTGCZRTSUCINCS9GYWEDTIJDHHLJUCVGLQOJRX9QAOMUJVAJJZNFFCEJXNRFZ9999">IKIEIHJMPNIYWRAMNTGCZRTSUCINCS9GYWEDTIJDHHLJ...</a>
                  </small>
                  <span class="badge badge-primary badge-pill float-right">Sent 133 IOTA</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Parking duration 12 min
                  <small class="mute">
                    <a href="https://thetangle.org/transaction/EDQEKTYWFMNYIDRPCNUGRZWCBNMWVMVIKINTLZWBJZVQOGMB9XVNUZVXEVVNLDROMSVQBGPHEKEOA9999">EDQEKTYWFMNYIDRPCNUGRZWCBNMWVMVIKINTLZWBJZ...</a>
                  </small>
                  <span class="badge badge-primary badge-pill float-right">Sent 523 IOTA</span>
                </li> --}}
              </ul>
            </div>
            <div class="tab-pane fade" id="pills-debug" role="tabpanel" aria-labelledby="pills-debug-tab">
              <div class="row">
                <div class="col-md-12">
                  {{!-- <h2>AKITA M2M DEMO</h2> --}}
                  {{!-- <h4>{</h4> --}}
                  <div class="logger row">
                    {{!-- <ul class="list-group row"> --}}
                      {{!-- <li class="list-group-item"><b>Device:</b> {{ device.ble_name }}</li> --}}
                      <div class="alert  col-md-6"><b>RSSI Log:</b><span class="rssi"></span></div>
                      {{!-- <div class="list-group-item"><b>Debug Log:</b><span class="log"></span></div> --}}
                      <div class="alert col-md-6"><b>Status:</b><span class="status"></span></div>
                      
                    {{!-- </ul> --}}
                  </div>
                </div>
                {{!-- <div class="col-md-6">
                  <ul class="list-group">
                    <li class="list-group-item"><b>IOTA Balance:</b> 1.000.000 iOTA</li>
                    <li class="list-group-item"><b>in USD: </b> 0.301 USD</li>
                    <li class="list-group-item"><b>in AED: </b> 1.105 AED</li>
                </div> --}}
                <div class="col-md-12">
                  <canvas id="chart" width="600" height="150"></canvas>
                </div>

                {{!-- <h3>Device: {{ device.ble_name }}</h3> --}}
                {{!-- <hr> --}}
              </div>
            </div>
          </div>
          <hr>
          <ul class="nav fixed-bottom nav-pills nav-fill justify-content-center" id="pills-tab" role="tablist" style="margin-bottom:1px">
            <li class="nav-item">
              <a class="nav-link active" id="pills-live-tab" data-toggle="pill" href="#pills-live" role="tab" aria-controls="pills-live" aria-selected="true"><h3>LIVE</h3></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-history-tab" data-toggle="pill" href="#pills-history" role="tab" aria-controls="pills-history" aria-selected="false"><h3>HISTORY</h3></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-debug-tab" data-toggle="pill" href="#pills-debug" role="tab" aria-controls="pills-debug" aria-selected="false"><h3>DEBUG</h3></a>
            </li>
          </ul>

        </div>
      </div>
      

      </div>
    </div>

    <!-- Include jquery, cookies, socket.io (client-side) and your own code -->

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://unpkg.com/cookie_js@1.2.2/cookie.min.js"></script>
    <script src="https://unpkg.com/socket.io-client@2/dist/socket.io.slim.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script type="text/javascript" src="kalman.js"></script>
    <script src="javascript.js"></script>
    
  </body>
</html>